.content2 {
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
    justify-content: flex-start;
    gap: inherit;
    align-items: center;
}

.game-main {
    height: fit-content;
    background-color: var(--black);
    border-radius: var(--borderradius);
    width: 100%;
    box-sizing: border-box;
}

.game-main h3 {
    background-color: var(--darkgrey);
}

.songCont {
    position: relative;
    width: 100%;
}

.song-card {
    background-color: var(--primary);
    border-radius: var(--borderradius);
    width: auto;
    min-width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.song-card:hover {
    background-color: var(--tertiary);
    color: var(--black);
    cursor: pointer;
}

#timer-container{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    align-items: center;
    gap: 30px;

    margin-bottom: 20px;
}

#timer-container div{
    background-color: var(--primary);
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: var(--borderradius);
    padding: 20px 15px;
}

#timer-container div:first-child{
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}

#timer-container div:first-child p{
    position: absolute;
}

#submit{
    margin-top: 50px;
}

.listen {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.game-main.listen #listen {
    width: 100%;
}
.game-main.listen #listen p{
    margin: 0;
}
.game-main.listen > h3{
    background-color: var(--white);
    color: var(--black);
}


/* .listen div h3, .listen div p{
    text-align: justify;
    padding: 0 5%;
}

.listen div h3{
    margin-top: 3%;
} */

/* .listen div p:last-child {
    line-height: 30px;

    padding: 0 5% 5% 5%;
} */

.after-selection{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;
    border-radius: 1em;

    overflow-x: auto;
}

#anecdoteDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.after-selection::-webkit-scrollbar {
    width: 10px;
    background-color: var(--black);
}

.after-selection::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--tertiary)
}

.rewindAll{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.rewindAll .block {
    background-color: var(--primary);
    padding: 20px;
    border-radius: var(--borderradius);
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listen {
    padding: 20px;
}

.rewindAll .player-score {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.rewindAll .player-score span{
    position: relative;
}

.rewindAll .player-score.first-player span::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(http://localhost:8080/img/crownny.e5a5625d.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.rewindAll .player-score span {
    padding: 10px 20px;
    background: linear-gradient(193deg, var(--secondary) 29%, var(--quaternary));
    border-radius: var(--borderradius);
    color: var(--black);
    font-weight: bold;
}

