main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-choice {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}
.avatar-choice h3{
    user-select: none;
}

.avatar-container {
    position: relative;
    border-radius: var(--borderradius);
    cursor: pointer;

    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

ul.arrows{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
ul.arrows > *{
    width: 30px;
    height: 30px;
    color: var(--black);
    font-weight: bold;
    background-color: var(--tertiary);
    border-radius: var(--borderradius);
    border: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all 0.2s ease;
}
ul.arrows button:disabled{
    background-color: var(--primary);
}
ul.arrows >*:hover {
    transform: scale(1.1);
}


.current-avatar {
    width: 200px;
    height: 200px;
    display: flex;
    gap: 5px;

    position: relative;
}


.current-avatar > .avatar-part{
    position: absolute;
    width: 100%;
}




.email-icon{
    cursor: pointer;
}

.joiningRoom{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joiningRoom input[type=text]{
    margin-bottom: 10%;
}

.joiningRoom button[type=submit]{
    margin: 10% auto;
    font-weight: 600;
}

input:not(input[type=color]),
.submitBtn{
    padding: 20px 15px;
    margin: 10px 0;
    background-color: var(--tertiary);
    border: 2px solid var(--tertiary);
    color: var(--black);
    border-radius: var(--borderradius);
    width: 300px;
    max-width: 90vw;
    box-sizing: border-box;

    transition: all 0.5s ease;
}

input:hover,
input:focus,
.submitBtn:hover{
    border: 2px solid var(--black);
}

.submit {
    justify-content: center;
    display: flex;
    margin-top: 1em;
}


/* @media only screen and (max-width: 600px) {

    footer{
        display: grid;
        align-items: center;
    }
} */

/* @media only screen and (min-width: 1000px) {

    .personalization, .tutorial{
        margin: auto;
    }

    select, input[type=text], button{
        width: 30vh;
        background-color: var(--quaternary);
        border: 0;
        color: white;
        margin: 10px 0;
        padding: 5px;
        border-radius: var(--borderradius);
    }

    .submitBtn{
        background-color: var(--quaternary);
        border: 0;
        color: white;
        margin: 10px 0;
        padding: 5px;
        border-radius: var(--borderradius);
        width: 30vh;
    }

    .avatar-choice{
        justify-content: center;
        display: grid;
    }

    .submit{
        justify-content: center;
        display: flex;
        margin-top: 1em;
    }
} */