
.avatar-container {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--black);
    margin: 0 auto 30px auto;
    cursor: pointer;
}
.avatar-options {
    display: flex;
    gap: 5px;
}
.avatar-option, .player-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: transform 0.3s;
}
.avatar-option:hover {
    transform: scale(1.1);
}
.avatar-selected {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar-selected img {
    width: 100%;
    height: auto;
}

.email-icon{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    footer{
        display: grid;
        align-items: center;
    }
}

@media only screen and (min-width: 1000px) {
    body{
        height: 100vh;
    }

    .personalization, .tutorial{
        margin: auto;
    }

    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    select, input[type=text], button{
        width: 30vh;
        background-color: var(--quaternary);
        border: 0;
        color: white;
        margin: 10px 0;
        padding: 5px;
        border-radius: 10px;
    }

    input[type=submit]{
        background-color: var(--quaternary);
        border: 0;
        color: white;
        margin: 10px 0;
        padding: 5px;
        border-radius: 10px;
        width: 30vh;
    }

    .avatar-choice{
        justify-content: center;
        display: grid;
    }

    .submit{
        justify-content: center;
        display: flex;
        margin-top: 1em;
    }
}