.rewindAll .rewind:not(:first-child) {
  display: none;
}

.rewindAll:first-child{
  display: block;
}

#piano {
    display: flex;
  }
  
  .key {
    width: 50px;
    height: 100px;
    border: 1px solid black;
    cursor: pointer;
  }
  
  #note-container {
    min-height: 200px;
    border: 1px solid black;
    margin-top: 20px;
  }
  