.Kbnotes {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;

  border-radius: var(--borderradius);
  text-align: center;
  flex-direction: column;
  -webkit-tap-highlight-color: transparent;
  user-select: none;

  max-width: 70%;
}

.justHere{
  border: 2px solid #F9FAFA;
}

.first-step {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main-game{
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;

  width: 100%;
}

.rotateGif{
  display: none;
}

.bottomBlock, .topBlock{
  background-color: var(--primary);
  padding: 20px 40px;
  border-radius: var(--borderradius);
  width: -webkit-fill-available;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.note-parameters {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}

.note-parameters button:first-child {
  margin-right: 30px;
}

.note-parameters button:last-child{
  margin: 20px 0;

  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 10rem;
  cursor: pointer;
}
.note-parameters button:last-child:hover{
  background-color: var(--black);
}

.note-parameters button:last-child:disabled{
  opacity: .5;
  cursor:no-drop;
}

#note-container {
  min-height: 200px;
  min-width: 100%;
  background-color: var(--black);
  border-radius: 2rem;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

#note-container p {
  text-align: center;
  line-height: 25px;
}

#note-option-container {
  min-width: 100%;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#option-note-container {
  align-items: center;
  min-height: 110px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  /* border: 1px solid black; */
  border-radius: var(--borderradius);

  position: relative;

  overflow: hidden;
}
#option-note-container * {
  z-index: 1;
}
#option-note-container::before {
  content: '';
  background-color: var(--white);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.3;
  z-index: 0;
}

.topBlock{
  background-color: var(--black);
}

#note-option {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#note-option div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.piano-container{
  overflow-x: auto;
  padding-bottom: 20px;
  position: relative;
  display: flex;
}
.piano-container::-webkit-scrollbar {
  width: 10px;
  background-color: var(--darkgrey);
  border-radius: 8px;
}

.piano-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--tertiary)
}

.piano {
  display: flex;
  gap: 2px;
  justify-content: center;
  flex-wrap: nowrap;
}
#option-note-container.piano{
  flex-wrap: wrap;
}

.key {
  width: 75px;
  height: 75px;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;

  transition: all 0.2s ease;
}
.bottomBlock .key{
  border-radius: var(--borderradius);
}

.key.bemole{
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--white);
  width: 50px;
}

.key.selected-note,
.key:hover {
  background-color: var(--tertiary);
}


.octave{
  display: flex;
}

#play{
  display: flex;
  align-items: center;
  gap: 10px;
}

#play:hover:not(:disabled) .play{
  filter: brightness(1);
}

#play img{
  width: 40px;
}

#play img:not(:hover),
#play:disabled img{
  filter: brightness(0);
}

.after-game{
  display: flex;
  flex-direction: column;
}