.profile-picture {
    width: 55px;
    aspect-ratio: 1/1;
    display: flex;
    gap: 5px;

    position: relative;
    border-radius: var(--borderradius);
    overflow: hidden;
}


.profile-picture > .avatar-part{
    position: absolute;
    width: 100%;
}

.white-profile.profile-picture{
    background-color: var(--white);
}