:root{
    --primary: #28AFB0;
    --secondary: #FF570A;
    --tertiary: #19647E;
    --quaternary: #F4D35E;
    --quinary: #14121A;

    --black: #14080E;
    --white: #FFFFFF;
}

.rulesCont{
    background: var( --tertiary);
    border-radius: 20px;
    margin: 2vh;
    padding: 2vh;
}

.rulesCont p{
    text-align: left;
}

.submitBtn{
    margin-top: 5vh !important;
}

@media only screen and (min-width: 1000px) {
    .rulesCont p{
        text-align: center;
    }

    .rulesCont{
        background: var( --tertiary);
        border-radius: 20px;
        margin: auto;
        padding: 2vh;
        width: 100vh;
    }
    
}

