@media only screen and (min-width: 1000px) {
    .CGU-main{
        height: 80vh;
        margin: 0 20vh 20vh;
    }

    header{
        height: 10vh;
    }

    footer{
        height: 5vh;
    }
}

.CGU-main p{
    text-align: justify;
}


@media only screen and (max-width: 600px) {
    .CGU-main{
        gap: 10%;
        justify-content: center;
        overflow: auto;
        display: grid;
    }

    .CGU-main section{
        width: 100%;
    }
}