header{
    justify-content: center;
    margin: 25px 0px 0px 0px;
    display: flex;
    height: var(--headerheight);
    width: 100%;
}

header img{
    height: 100%;
}

header .headerLink{
    display: flex;
}

header img:hover{
    cursor: pointer;
}
