@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat/Montserrat-VariableFont_wght.woff2') format('woff2'),
         url('@/assets/fonts/Montserrat/Montserrat-VariableFont_wght.woff') format('woff');
    font-style: normal;
}