
input[type=submit]:hover{
    cursor: pointer;
}


/* main section{
    width: 25%;
} */

.tutorial{
    text-align: center;
    width: 300px;
    max-width: 90vw;
    user-select: none;
}

.tutorial h2{
    margin: 0;
}

.tutorial-box {
    background-color: var(--primary);
    padding: 20px;
    margin: 20px auto;
    border-radius: var(--borderradius);
}


/* .submitBtn{
    margin-top: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-weight: bold;
}
.submitBtn:hover{
    transform: scale(1.1);
} */

.settings{
    text-align: center;
}

.container{
    margin: 0 5%;
}

/* .about-main{
    gap: 10%;
} */