.footer{
    width: 100%;
    margin: 50px 0px 30px 0px;
}
footer{
    /* position: fixed; */
    /* left: 0;
    bottom: 20px; */
    width: 100%;
}

.footerLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10%;
}

.footerLinks a{
    flex: 0 0 30%;
    color: var(--white);
    text-decoration: none;
}

.footerText{
    width: 100%; 
    text-align: center;
}

.footerText p{
    font-size: 0.7em;
}