:root{
    --primary: #28AFB0;
    --secondary: #FF570A;
    --tertiary: #19647E;
    --quaternary: #F4D35E;
    --quinary: #14121A;

    --black: #14080E;
    --white: #FFFFFF;
}



body{
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    background: rgb(3,172,152);
    background: linear-gradient(193deg, rgba(3,172,152,1) 29%, rgba(51,116,193,1) 57%, rgba(189,255,105,1) 83%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
}

.content{
    height: 80vh;
    overflow: auto;
}

input[type=submit]:hover{
    cursor: pointer;
}


main section{
    width: 25%;
}

.content{
    display: flex;
}

.personalization{
    justify-content: center;
    display: flex;
    padding-top: 35px;
    text-align: center;
}

.personalization-main{
    margin: 2% 5% 0 0%;
    width: 80%;
}

.tutorial{
    text-align: center;
}

.tutorial h2{
    margin: 0;
}

.tutorial-box {
    background-color: var(--tertiary);
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
}

.game-options{
    display: flex;
    flex-wrap: wrap;
}
.game {
    flex: 30%;
    background-color: var(--primary);
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    cursor: pointer;
}
.selected {
    background-color: var(--secondary);
}

.playersContainer{
    display: flex;
}

.playerContainer{
    flex: 25%;
    display: grid;
}

.playerContainer img{
    margin: auto;
}

.playerContainer p{
    text-align: center;
    margin-top: 5px;
}

.submitBtn{
    margin-top: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.settings{
    text-align: center;
}

.container{
    margin: 0 5%;
}

.CGU-main{
    overflow: auto;
    display: grid;
    gap: 20px;
}

.CGU-main section{
    width: 100%;
}

.about-main{
    gap: 10%;
}