@import url('./css/game.css');
@import url('./css/fonts.css');

:root{
    /* --primary: #28AFB0;
    --secondary: #FF570A;
    --tertiary: #19647E;
    --quaternary: #F4D35E;
    --quinary: #14121A; */
    --primary: #19647E;
    --secondary: #28AFB0;
    --tertiary: #F4D35E;
    --quaternary: #3374C1;

    --black: #161617;
    --darkgrey: #4b5050;
    --grey: #9aa3a3;
    --white: #F9FAFA;

    --borderradius: 30px;
    --headerheight: 80px;
}

body{
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    background: var(--secondary);
    background: linear-gradient(193deg, var(--secondary) 29%, var(--quaternary));
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    font-size: 16px;
    position: relative;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('@/assets/svg/motifs/motif1bis.svg'), linear-gradient(193deg, var(--secondary) 29%, var(--quaternary));
    background-repeat: repeat;
    background-size: 200px 200px, cover;
    z-index: -1;
    opacity: 0.05;
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--black);
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--tertiary)
}


#app{
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    min-height: 100vh;
}



input{
    font-family: 'Montserrat', sans-serif;
    border-radius: var(--borderradius);
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: var(--white);
}
input::placeholder {
    color: var(--white);
    opacity: 0.7;
}

input::-moz-placeholder {
    color: var(--white);
    opacity: 0.7;
}

input:-ms-input-placeholder {
    color: var(--white);
    opacity: 0.7;
}
button{
    font-size: inherit;
    transition: all 0.2s ease;
    cursor: pointer;
    border: 0px solid transparent;
    padding: 20px 15px;
    border-radius: var(--borderradius);
}
button:not(.no-background){
    border: 2px solid var(--tertiary);
    background-color: var(--tertiary);
}
button:not(.no-hover):hover{
    background-color: var(--black);
    color: var(--tertiary);
    border: 2px solid var(--white);
}
button:disabled{
    background-color: var(--grey) !important;
    border: 2px solid var(--grey) !important;
    color: var(--darkgrey) !important;
    cursor: not-allowed;
}
button img{
    max-width: 100%;
    max-height: 100%;
}

h3{    
    margin: 0;
    font-size: 1.1rem;
    padding: 10px 20px;
    background-color: var(--black);
    border-radius: var(--borderradius);
    width: 100%;
    box-sizing: border-box;
}
h3.no-background{
    background-color: transparent !important;
}

ul{
    padding: 0px;
    list-style-type: none;
}

.timer{
    position: absolute;
    right: 0;
    top: -20px;
    transform: translateY(-100%);
    background-color: var(--primary);
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: var(--borderradius);
    padding: 20px 15px;

    width: fit-content;
}

.timer.flow {
    position: inherit;
    transform: inherit;
    top: auto;
}

.timer p {
    margin: 0;
}

input[type=range] {
    -webkit-appearance: none;     /*nécessaire pour Chrome */
    padding: 2px;                   /* nécessaire pour IE */
    font: inherit;
    outline: none;
    background: var(--black);
    box-sizing: border-box;
    transition: opacity .2s;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb,
input[type=range]::-ms-thumb {
    background-color: var(--tertiary);
  }