@media only screen and (max-width: 600px) {

    select, input[type=text], button{
        width: 30vh;
        background-color: var(--quaternary);
        border: 0;
        color: white;
        margin: 10px 0;
        padding: 5px;
        border-radius: var(--borderradius);
    }

    input[type=submit]{
        background-color: #F4D35E;
        border: 0;
        color: white;
        margin: 10px 0;
        padding: 5px;
        border-radius: var(--borderradius);
        width: 30vh;
    }

    label{
        margin-bottom: 10px;
    }

    /* main */

    main{
        flex-wrap: wrap;
        height: 75vh;
        text-align: center;
        padding: 20px 15px;
        margin: 5%;
        gap: 5%;
        justify-content: center;
        display: flex;
    }


    main section{
        width: 50%;
    }

    .content{
        display: block;
    }

    .avatar-choice{
        justify-content: center;
        display: grid;
    }

    .submit{
        justify-content: center;
        display: flex;
        margin-top: 1em;
    }

    /* .personalization{
        margin: auto;
        padding-top: 0;
    }

    .personalization form{
        display: block;
    } */

    /* .settings{
        width: 100%;
    } */

    /* .submitBtn{
        margin-top: 5vh;
    } */

    .game-container{
        flex: 30%;
    }

    .playersList{
        margin: 5%;
    }
    

    .playersList p{
        font-size: 0.8em;
    }

    .playersContainer{
        display: flex;
    }

    .playerContainer{
        flex: 25%;
        display: grid;
    }

    .playerContainer img{
        margin: auto;
    }

    .playerContainer p{
        text-align: center;
        margin-top: 5px;
    }
    
  }