.content{
    width: 1500px;
    max-width: 90%;
    gap: 25px;
    display: flex;
}
.content > *:nth-child(2){
    flex: 1;
}


.playersList {
    background-color: var(--black);
    border-radius: var(--borderradius);
    padding: 20px 40px;
    width: 20%;

    position: relative;

    display: flex;
    flex-direction: column;
}
.playersList h3 {
    text-align: center;
}

.playersContainer{
    display: flex;
    justify-content: flex-start;
}

.playerContainer{
    display: flex;
    flex-flow: wrap column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    margin: 20px 0px;
}
.playerContainer > div{
    display: flex;
    flex-flow: nowrap row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.pseudoPlayer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.pseudoPlayer>div{
    display: flex;
    gap: 5px;
}

.personalization-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.games-block{
    padding: 20px 40px;
    background-color: var(--primary);
    border-radius: var(--borderradius);
    width: -webkit-fill-available;

    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 20px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    position: relative;
}



.games-options,
.games-selected{
    overflow-x: auto;
    position: relative;
}
.games-options::-webkit-scrollbar,
.games-selected::-webkit-scrollbar {
    height: 10px;
    background-color: var(--black);
    border-radius: 8px;
}

.games-options::-webkit-scrollbar-thumb,
.games-selected::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--tertiary)
}
.all-games{
    min-height: 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    width: fit-content;
}
.games-selected .all-games{
  gap: 40px;  
}

.game-container{
    /* width: 30%;
    height: 250px; */

    position: relative;
    display: flex;
    flex-direction: column;
    width: 175px;
    aspect-ratio: 1/1;
}
.personalization-section.hosting .games-selected .game-container::before {
    background: url('@/assets/svg/icons/croixRed.svg') no-repeat;
    background-size: contain;
    position: absolute;
    pointer-events: none;
    width: 30px;
    right: 10px;
    top: 0px;
    transform: translateX(50%);
    aspect-ratio: 1/1;
    content: '';
    z-index: 1;
}
.games-selected .game-container:not(:last-of-type):after {
    background: url('@/assets/svg/icons/arrowR.svg') no-repeat;
    background-size: contain;
    position: absolute;
    width: 30px;
    right: -25px;
    top: 75px;
    transform: translateX(50%);
    aspect-ratio: 1/1;
    content: '';
}
.game {
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
    padding: 15px;
    border-radius: var(--borderradius);
    
    background: linear-gradient(193deg, var(--secondary) 29%, var(--quaternary));

    cursor: pointer;
    position: relative;

    overflow: hidden;
}
.games-selected .game {
    background: linear-gradient(193deg, var(--tertiary) 29%, var(--white));
}
.personalization-section.hosting .games-selected .game:hover {
    border: 5px solid red;
}
.personalization-section:not(.hosting) .games-options .game {
    background: linear-gradient(193deg,  var(--secondary) 29%, var(--grey));
}
.personalization-section:not(.hosting) .games-selected .game {
    background: linear-gradient(193deg, var(--grey) 29%, var(--white));
}


.game::before{
    content: '';

    position: absolute;
    width: 100%;
    height: 100%;
    
    opacity: 0.05;

    z-index: 0;
    
    background-image: url("@/assets/svg/motifs/motif2.svg");
    background-repeat: repeat;
    background-size: 150px 150px, cover;
    background-attachment: fixed;
}

.game img{
    max-width: 80%;
    max-height: 80%;

    z-index: 1;
    transition: all 0.2s ease-in;
}

@keyframes rotateImg {
    0%{
        transform: rotate(0deg);
    }
    1%{
        transform: rotate(-15deg);
    }
    2%{
       transform: rotate(15deg);
    }
    3%,100%{
       transform: rotate(0deg);
    }
}

.game:hover img{
    transform: scale(1.1);
}

.game:not(:hover) img{
    animation: rotateImg 8s ease-in forwards;
}

.game-arrow{
    position: absolute;
    height: 30px;
    background-color: transparent;

    cursor: pointer;
    top: 50%;
    z-index: 10;
}
.game-arrow:nth-of-type(1){
    left: 0px;
}
.game-arrow:nth-of-type(2){
    right: 0px;
}
.game-arrow img{
    max-width: 100%;
    max-height: 100%;
}

.guest-settings{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    border-radius: var(--borderradius);
    overflow: hidden;
}
.guest-settings::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.7;
    z-index: -1;
}


form{
    display: flex;
    align-items: center;
    gap: 25px;
}
form .messages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: red;
    text-shadow: 0px 0px 1px var(--black);
}
.messages .green-text{
    color: green;
}
#shareLink,
.startGame {
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}
.startGame:hover {
    transform: scale(1.03);
}








.hostMenuButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 0px;
    height: 15px;
    margin: 0;
    padding-right: 10px;
}

.hostMenu {
    display: none;
    position: absolute;
    left: calc(100% + 10px);
    /* top: 100%; */
    width: 50%;
    flex-flow: wrap row;
    align-items: start;
    justify-content: center;
    background-color: var(--tertiary);
    border-radius: var(--borderradius);
    padding: 10px;
    z-index: 10;
}

.hostMenu button {
    background-color: transparent;
    padding: 10px;
}

.hostMenu button:hover {
    opacity: .5;
}

.hostMenu button:first-child {
    border-bottom: 0.5px solid black;
}
.hostMenu button:last-child {
    border-top: 0.5px solid black;
}



