.content{
    width: 1500px;
    max-width: 90%;
    gap: 25px;
    display: flex;
}


.playersList {
    background-color: var(--black);
    border-radius: var(--borderradius);
    padding: 20px 40px;
    width: 20%;

    position: relative;

    display: flex;
    flex-direction: column;
}
.playersList h3 {
    text-align: center;
}

.playersContainer{
    display: flex;
    justify-content: flex-start;
}

.playerContainer{
    display: flex;
    flex-flow: wrap column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    margin: 20px 0px;
}
.playerContainer > div{
    display: flex;
    flex-flow: nowrap row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.personalization-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.games-block{
    padding: 20px 40px;
    background-color: var(--primary);
    border-radius: var(--borderradius);
    width: -webkit-fill-available;

    text-align: center;

    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.game-rounds{
    height: 200px;
    width: 100%;
}



.game-container{
    width: 30%;
    max-height: 250px;

    display: flex;
    flex-direction: column;
}
.game-options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    position: relative;
}
.game {
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
    padding: 15px;
    border-radius: var(--borderradius);
    
    background: linear-gradient(193deg, var(--secondary) 29%, var(--quaternary));

    cursor: pointer;
    position: relative;

    overflow: hidden;
}

.game::before{
    content: '';

    position: absolute;
    width: 100%;
    height: 100%;
    
    opacity: 0.05;

    z-index: 0;
    
    background-image: url("@/assets/svg/motifs/motif2.svg");
    background-repeat: repeat;
    background-size: 150px 150px, cover;
}

.game img{
    max-width: 80%;
    max-height: 80%;

    z-index: 1;
    transition: all 0.2s ease-in;
}

@keyframes rotateImg {
    0%{
        transform: rotate(0deg);
    }
    1%{
        transform: rotate(-15deg);
    }
    2%{
       transform: rotate(15deg);
    }
    3%,100%{
       transform: rotate(0deg);
    }
}

.game:hover img{
    transform: scale(1.1);
}

.game:not(:hover) img{
    animation: rotateImg 8s ease-in forwards;
}

.game-arrow{
    position: absolute;
    height: 30px;
    background-color: transparent;

    cursor: pointer;
    top: 50%;
    z-index: 10;
}
.game-arrow:nth-of-type(1){
    transform: rotate(180deg);
}
.game-arrow:nth-of-type(2){
    right: 0px;
}
.game-arrow img{
    max-width: 100%;
    max-height: 100%;
}




form{
    display: flex;
    align-items: center;
    gap: 25px;
}
form .messages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: red;
    text-shadow: 0x 0px 15px var(--white);
}
#shareLink,
.startGame {
    background-color: var(--tertiary);
    color: var(--black);
    font-weight: 600;
    padding: 20px 15px;
    border-radius: var(--borderradius);
    border-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
}

.startGame:hover {
    transform: scale(1.03);
}








.hostMenuButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 0px;
    height: 15px;
    margin: 0;
    padding-right: 10px;
}

.hostMenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 100%;
    width: 50%;
    flex-flow: wrap row;
    align-items: start;
    justify-content: center;
    background-color: var(--quaternary);
    border-radius: var(--borderradius);
    padding: 10px;
    z-index: 10;
}

.hostMenu button {
    background-color: var(--quaternary);
    border: none;
    cursor: pointer;
}

.hostMenu button:hover {
    opacity: .5;
}

.hostMenu button:first-child {
    border-bottom: 1px solid black;
}


